
.vs/Pwned Password Search/v16/.suo
.vs/Pwned Password Search/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.cache
*.cache
*.txt
.vs/Pwned Password Search/v16/.suo
*.cache
.vs/Pwned Password Search/v16/.suo
*.v2
obj/Debug/net5.0/Pwned Password Search.csproj.AssemblyReference.cache
.vs/Pwned Password Search/v16/.suo
*.editorconfig
*.cs
.vs/Pwned Password Search/v16/.suo
.vs/Pwned Password Search/v16/.suo
obj/Debug/net5.0/Pwned Password Search.csproj.AssemblyReference.cache
